{% extends "base.html" %}

{% block title %} CHRISTMAS CARDS {% endblock %}

{% block content %}
<h1><center>CHRISTMAS CARDS</center></h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card maker</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
    .block {
        background: transparent;
        transition: 0.3s ease-in-out;
    }

    .block:hover {
        cursor: pointer;
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
</style>

<body>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://media.discordapp.net/attachments/792336494093139971/792720345320128522/Putting-on-the-Star-E28093-150-x-150mm-C2A33.png?width=513&height=513" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://media.discordapp.net/attachments/792336494093139971/792720345320128522/Putting-on-the-Star-E28093-150-x-150mm-C2A33.png?width=513&height=513"></a>
                    
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href=https://media.discordapp.net/attachments/792336494093139971/792733735329333248/unknown.png?width=564&height=513 class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://media.discordapp.net/attachments/792336494093139971/792733735329333248/unknown.png?width=564&height=513">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://media.discordapp.net/attachments/792336494093139971/792734066038145024/unknown.png" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://media.discordapp.net/attachments/792336494093139971/792734066038145024/unknown.png">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://media.discordapp.net/attachments/792336494093139971/792734998733389834/unknown.png" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://media.discordapp.net/attachments/792336494093139971/792734998733389834/unknown.png">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://media.discordapp.net/attachments/792336494093139971/792735414959865866/unknown.png?width=692&height=388" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://media.discordapp.net/attachments/792336494093139971/792735414959865866/unknown.png?width=692&height=388">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://media.discordapp.net/attachments/792336494093139971/792734226134859806/unknown.png" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://media.discordapp.net/attachments/792336494093139971/792734226134859806/unknown.png">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/e9/04/19/e90419d532062b8785b1510d61db97ea.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/e9/04/19/e90419d532062b8785b1510d61db97ea.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/cc/40/09/cc400968425c1483742c0c704cb70015.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/cc/40/09/cc400968425c1483742c0c704cb70015.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>

</body>
 {% endblock %}

