{% extends "base.html" %}

{% block title %} HANUKKA CARDS {% endblock %}

{% block content %}
<h1><center>HANUKKA CARDS </center></h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card maker</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
    .block {
        background: transparent;
        transition: 0.3s ease-in-out;
    }

    .block:hover {
        cursor: pointer;
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
</style>

<body>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/71/61/03/716103d180b0f8fd2100ef578fa54cbb.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/71/61/03/716103d180b0f8fd2100ef578fa54cbb.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/bf/80/79/bf8079f5682e9f49f6a49c78ca58ca47.png" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/bf/80/79/bf8079f5682e9f49f6a49c78ca58ca47.png">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/736x/60/02/12/6002122ae6a18f8f4281b69867ea322f.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/736x/60/02/12/6002122ae6a18f8f4281b69867ea322f.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/75/04/d9/7504d9248274d36389a612e208c83c48.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/75/04/d9/7504d9248274d36389a612e208c83c48.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/736x/51/94/72/51947239bc572a8fe52cf8a1c1256bfe.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/736x/51/94/72/51947239bc572a8fe52cf8a1c1256bfe.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/e5/fa/8e/e5fa8e97d53750499040a6ea92891441.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/e5/fa/8e/e5fa8e97d53750499040a6ea92891441.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/e8/d7/88/e8d7885774e07da628cdafc39f07b3d2.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/e8/d7/88/e8d7885774e07da628cdafc39f07b3d2.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/3e/e9/05/3ee9050dcf570a3eae71ec6603ede99c.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/3e/e9/05/3ee9050dcf570a3eae71ec6603ede99c.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>

</body>
 {% endblock %}

