{% extends "base.html" %}

{% block title %} ŌMISOKA CARDS {% endblock %}

{% block content %}
<h1><center>ŌMISOKA CARDS</center></h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card maker</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
    .block {
        background: transparent;
        transition: 0.3s ease-in-out;
    }

    .block:hover {
        cursor: pointer;
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
</style>

<body>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://www.redwoodcity.org/Home/ShowPublishedImage/17875/637427561246100000" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://www.redwoodcity.org/Home/ShowPublishedImage/17875/637427561246100000">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLxJj8kJ-p16ygFErT4OCZNhJSmjueSMZqpQ&usqp=CAU" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLxJj8kJ-p16ygFErT4OCZNhJSmjueSMZqpQ&usqp=CAU">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://seletyn.files.wordpress.com/2019/10/omisoka.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://seletyn.files.wordpress.com/2019/10/omisoka.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://imgcp.aacdn.jp/img-a/1200/auto/global-aaj-front/article/2016/10/5816a81b9c815_5816905cc5518_617879180.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://imgcp.aacdn.jp/img-a/1200/auto/global-aaj-front/article/2016/10/5816a81b9c815_5816905cc5518_617879180.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://previews.123rf.com/images/presidentkuma/presidentkuma2005/presidentkuma200500002/147786401-japanese-new-year-s-card-in-2021-.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://previews.123rf.com/images/presidentkuma/presidentkuma2005/presidentkuma200500002/147786401-japanese-new-year-s-card-in-2021-.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://previews.123rf.com/images/presidentkuma/presidentkuma2005/presidentkuma200500010/147846066-japanese-new-year-s-card-in-2021.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://previews.123rf.com/images/presidentkuma/presidentkuma2005/presidentkuma200500010/147846066-japanese-new-year-s-card-in-2021.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://en.pimg.jp/049/761/279/1/49761279.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://en.pimg.jp/049/761/279/1/49761279.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://en.pimg.jp/051/030/005/1/51030005.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://en.pimg.jp/051/030/005/1/51030005.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>

</body>
 {% endblock %}

