{% extends "base.html" %}

{% block title %} WINTER SOLSTICE CARDS {% endblock %}

{% block content %}
<h1><center>WINTER SOLSTICE CARDS</center></h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card maker</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
    .block {
        background: transparent;
        transition: 0.3s ease-in-out;
    }

    .block:hover {
        cursor: pointer;
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
</style>

<body>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/a7/fe/c3/a7fec3c78a6759e524f5ff52f9db2b35.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/a7/fe/c3/a7fec3c78a6759e524f5ff52f9db2b35.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://www.revels.org/files/cache/80a862b1abddaaffb3aa4cc821379d63_f3238.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://www.revels.org/files/cache/80a862b1abddaaffb3aa4cc821379d63_f3238.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://images.squarespace-cdn.com/content/v1/57a88e16893fc0f0fd97357d/1514391331405-VS2PYGJ454IAPSINWGE8/ke17ZwdGBToddI8pDm48kMA-npXcKS55lExHa6imwEB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0luUmcNM2NMBIHLdYyXL-Jwxas8w8KhsepZYLqd7JyCVeb1pNOBNXmFpxAqWYQao9Q/Pear+Sun.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://images.squarespace-cdn.com/content/v1/57a88e16893fc0f0fd97357d/1514391331405-VS2PYGJ454IAPSINWGE8/ke17ZwdGBToddI8pDm48kMA-npXcKS55lExHa6imwEB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0luUmcNM2NMBIHLdYyXL-Jwxas8w8KhsepZYLqd7JyCVeb1pNOBNXmFpxAqWYQao9Q/Pear+Sun.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://metawitches.files.wordpress.com/2016/12/solstice-card-5-5x4-frontlarge.png" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://metawitches.files.wordpress.com/2016/12/solstice-card-5-5x4-frontlarge.png">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.pinimg.com/originals/71/3b/44/713b44ca9556e64d3d22ba74835e9590.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.pinimg.com/originals/71/3b/44/713b44ca9556e64d3d22ba74835e9590.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://cdn.shopify.com/s/files/1/2674/2542/products/Solstice-Web_grande.jpg?v=1606234515" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://cdn.shopify.com/s/files/1/2674/2542/products/Solstice-Web_grande.jpg?v=1606234515">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://i.etsystatic.com/21653348/c/1983/1576/500/279/il/b09bbd/2682529675/il_340x270.2682529675_tr4p.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://i.etsystatic.com/21653348/c/1983/1576/500/279/il/b09bbd/2682529675/il_340x270.2682529675_tr4p.jpg">
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="https://www.belfirebotanicals.com/uploads/b/0a3e3ed9e612d4f665f64285af0d64de464f6f1cf7c8b104c855988441d54b0f/Happy-Winter-Solstice-Images-6_1606252140.jpg" class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="https://www.belfirebotanicals.com/uploads/b/0a3e3ed9e612d4f665f64285af0d64de464f6f1cf7c8b104c855988441d54b0f/Happy-Winter-Solstice-Images-6_1606252140.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>

</body>
 {% endblock %}

